<html>
<body>
    <h1>Wagtail Boostrap Slideshow</h1>
    <p>This base.html template is from wagtail demo. You probably want to override it.</p>
    {% block content %}
    {% endblock %}
</body>
</html>
