{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ page.detail.title }}</h5>
        <div class="card-text">
            {% include_block page.detail.content %}
        </div>
        <a href="{% routablepageurl page "detail_previous" page.detail.uuid %}" class="btn btn-primary">Previous</a>
        <a href="{% routablepageurl page "detail_next" page.detail.uuid %}" class="btn btn-primary">Next</a>
    </div>
</div>
