{% load wagtailcore_tags %}
{% load static %}
{% load wagtailroutablepage_tags %}

<div class="btn-group" role="group" aria-label="Navigation">
    <a href="{% routablepageurl page "detail_previous" page.detail.uuid %}" class="btn btn-secondary">Previous</a>
    <a href="{% routablepageurl page "detail_next" page.detail.uuid %}" class="btn btn-secondary">Next</a>
</div>
