{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}

<div class="list-group">
    {% for detail in page.get_details %}
    <a class="list-group-item{% if detail.active %} active{% endif %}" href="{% routablepageurl page "detail_by_index" detail.uuid %}">{{ detail.title }}</a>
    {% endfor %}
</div>
